<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.pihlesotho</package>
	<author>Partners In Health</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.pihlesotho.activator.PihLesothoModuleActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.9.11</require_version>

	<require_modules>

		<require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
		<require_module version="${appuiVersion}">org.openmrs.module.appui</require_module>
		<require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
		<require_module version="${emrapiVersion}">org.openmrs.module.emrapi</require_module>
		<require_module version="${eventVersion}">org.openmrs.event</require_module>
		<require_module version="${htmlformentryVersion}">org.openmrs.module.htmlformentry</require_module>
		<require_module version="${htmlwidgetsVersion}">org.openmrs.module.htmlwidgets</require_module>
		<require_module version="${idgenVersion}">org.openmrs.module.idgen</require_module>
		<require_module version="${legacyuiVersion}">org.openmrs.module.legacyui</require_module>
		<require_module version="${metadatamappingVersion}">org.openmrs.module.metadatamapping</require_module>
		<require_module version="${providermanagementVersion}">org.openmrs.module.providermanagement</require_module>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
		<require_module version="${reportingcompatibilityVersion}">org.openmrs.module.reportingcompatibility</require_module>
		<require_module version="${serializationVersion}">org.openmrs.module.serialization.xstream</require_module>
		<require_module version="${uicommonsVersion}">org.openmrs.module.uicommons</require_module>
		<require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
		<require_module version="${uilibraryVersion}">org.openmrs.module.uilibrary</require_module>
		<require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.pihlesotho.extension.html.AdminList</class>
	</extension>

    <extension>
        <point>org.openmrs.admin.maintenance.localHeader</point>
        <class>org.openmrs.module.pihlesotho.extension.html.DataEntryStatisticsAdminList</class>
    </extension>

	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>org.openmrs.module.pihlesotho.extension.html.RegimenPickupExtension</class>
	</extension>

    <privilege>
        <name>View Data Entry Statistics</name>
        <description>Able to View Data Entry Statistics</description>
    </privilege>

	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>org.openmrs.module.pihlesotho.extension.html.ProviderListGutterExtension</class>
	</extension>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>regimenpickup.regimenPickupEncounterId</property>
		<defaultValue>11</defaultValue>
		<description>The encounterTypeId to use for Regimen Pickup Encounters</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.medsDispensedConceptId</property>
		<defaultValue>2876</defaultValue>
		<description>The conceptId to use for the question that asks what regimen was dispensed.  This should be a question with text datatype</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.medsDispensedAllowedAnswers</property>
		<defaultValue>1a(30):1a,1b(30):1b,1c,1d,1e,1f,2a,2b,2c,2d,2e,4a,4b,4c,4d,5a,5b,S1,S2,S3,S4,S5,S6,AZT,OTH:Other</defaultValue>
		<description>
			Allowed text answers to the meds dispensed question.  This is a comma-delimited list.
			If the display value is different than the answer value, then the format should be answerValue:displayValue in the list
		</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.minimumSupportedPickupDate</property>
		<defaultValue>2006-01-01</defaultValue>
		<description>
			Optional property in yyyy-MM-dd format.  If specified, this is the minimum supported pickup date
		</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.supportedLocations</property>
		<defaultValue>Bobete,Lebakeng,Methalaneng,Nohana,Nkau,Manamaneng,Tlhanyaku</defaultValue>
		<description>
			Comma-separated list of Location Names that are supported for regimen pickups
		</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.displayLocationDescription</property>
		<defaultValue>true</defaultValue>
		<description>
			If true, this will display the descriptions of supported locations, rather than the names
		</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.defaultProviderId</property>
		<defaultValue>2211</defaultValue>
		<description>The default provider to use for each entered regimen pickup encounter</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.healthCenterPersonAttributeTypeId</property>
		<defaultValue>7</defaultValue>
		<description>If specified, this will support the default value of the pickup location for a patient</description>
	</globalProperty>

	<globalProperty>
		<property>regimenpickup.programStatesToCheck</property>
		<defaultValue>HIV PROGRAM:TREATMENT STATUS:ART|PMTCT PROGRAM</defaultValue>
		<description>
			If specified, will display a warning if the patient is not in the specified program workflow states
			The format is PROGRAM NAME:WORKFLOW NAME:VALID STATE NAME|VALID STATE NAME
		</description>
	</globalProperty>

	<globalProperty>
		<property>pihlesotho.logPrivilegeChecksForUsers</property>
		<defaultValue></defaultValue>
		<description>Optional comma-delimited list of username to log privilege checks for</description>
	</globalProperty>

	<dwr>
		<allow>
			<create creator="new" javascript="RegimenPickupDWRService">
				<param name="class" value="org.openmrs.module.pihlesotho.web.dwr.RegimenPickupDWRService"/>
				<include method="addPickup"/>
				<include method="voidPickup"/>
			</create>
		</allow>
		<signatures>
			<![CDATA[
        import org.openmrs.module.regimenpickup.web.dwr.RegimenPickupDWRService;
        RegimenPickupDWRService.addPickup(String regimen, String dateString, String locationName, Integer patientId);
        RegimenPickupDWRService.voidPickup(Integer obsId, Integer patientId);
      ]]>
		</signatures>
	</dwr>

</module>

